P2/CompradorVendedor/ProyectComVend/SOA/Schemas/Vendedor.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/CompradorVendedor/ProyectComVend/Vendedor"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
    <element name="precioComprador" type="double"/>
   </sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="precioOfre" type="double"/>
   </sequence>
		</complexType>
	</element>
</schema>